<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<% if @query %>
  <% if @found.empty? %>
    <p>Sorry, no matches were found.</p>
  <% else %>
    <h2 class='content-subhead'>Results for '<%= @query %>'</h2>

    <ul>
      <% @found.each_with_index do |chap, idx1| %>
        <li>
          <h4><%= @toc[chap - 1] %></h4>
          <ul>
            <% @paragraphs[idx1].each_with_index do |text, idx2| %>
            <li>
              <a href="chapters/<%= chap %>#<%= @indexes[idx1][idx2] + 1 %>">
                <%= strong_paragraphs(text, @query) %>
              </a>
            </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
